# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.json

# Confidential
config.env
celestial_objects_data.json
equipment_data.json
features_data.json
images_data.json
manufacturers_data.json
model_paints_data.json
models_data.json
models_details_data.json
ships_data.json
shops_data.json
starsystems_data.json
stations_data.json
stations_details_data.json
stationsarc_data.json
trade_routes_data.json
components_data.json
.json